.cuerpo{
    width: 600px;
    max-width: 100%;
    margin: left;
    margin-top: 50px;
    padding: 60px;
    box-shadow: 20px 20px 20px 4px rgba(88, 44, 245, 0.3);
    position: left;
}

.cuerpo__titulo{
    text-align: center;
    margin-top: 0;
    color: rgba(108, 51, 240, 0.7);
}

.cuerpo__input, .cuerpo__label, .cuerpo__submit{
    display: block;
    width: 100%;
    font-size: 1.1em;
}

.cuerpo__input{
    padding: 20px;
    background: rgba(11, 121, 211, 0.1);
    border: 1px solid rgba(5, 88, 243, 0.3);
    margin-bottom: 40px;
}

.cuerpo__input:focus {
    outline: 3px solid rgba(26, 89, 224, 0.7);
}

.cuerpo__input:focus + .cuerpo__label {
    margin-top:  -130px;
}

.cuerpo__label{
    padding-left: 15px;
    position: absolute;
    margin-top: -85px;
    z-index: -20;
    color: rgba(105, 19, 98, 0.5);
    transition: all 0.6s;
}

.cuerpo__submit{
    background: rgb(24, 24, 204);
    color: white;
    padding: 20px 40px;
}

.fijar{
    margin-top: -120px;
}