/* css reset */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,h1,h2,h3,h4,h5,h6,p,ol,ul{
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,ul {
  list-style: none;
}
img{
  max-width: 100%;
  height: auto;
}

/*--- end of reset ----*/

:root {
  --blanco: rgba(255, 255, 255, 0.432);
  --gris-medio: #333333;
  --gris-oscuro: #1e1e1e;
  --main-font: "Oswald", sans-serif;
  --secondary-font: "Open Sans", sans-serif;
  --shadow: rgba(0, 0, 0, 0.75);
  --verde: #7ac943;
}

body, header, section{
  align-items: center;
  background-color: var(--gris-medio);
  display: flex;
  flex-direction: column;
  width: 100%;
}

.header {
  color: var(--blanco);
  font-family: var(--main-font);
  font-size: 55px;
  margin-top: 16px;
}

.subtitle {
  color: var(--verde);
  font-family: var(--secondary-font);
  font-size: 24px;
}

.header-img {
  border-radius: 50%;
  border: 1px solid var(--gris-oscuro);
  box-shadow: 8px 16px 32px 0px var(--shadow);
  height: 300px;
  margin-top: 80px;
  width: 300px;
}

nav {
  width: 100%;
}

.navigation {
  color: var(--blanco);
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  margin: 24px 0;
  width: 50%;
}

.nav-item {
  align-items: center;
  border-radius: 5px;
  display: flex;
  font-family: var(--secondary-font);
  height: 30px;
  justify-content: center;
  width: 33%;
}
.nav-item:focus-within{
  background-color: var(--verde);
  outline: 3px solid var(--verde)           ;
}
.nav-item a:focus{
  color: var(--gris-oscuro);
  outline: none;
}
.nav-item:hover {
  background-color: var(--verde);
  cursor: pointer;
}
.nav-item:hover a {
  background-color: var(--gris-oscuro);
  cursor: pointer;
}
.intro {
  margin: 0 196px;
  font-family: var(--secondary-font);
}

.social-media {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin: 32px auto;
  /*width: 20%;*/
}
.social-media li:focus-within {
outline: 3px solid var(--verde);
}
.social-media li a {
  padding: 2px;
  align-items: center;
  display: flex;
  color: white;
  font-family:  var(--secondary-font);
  text-decoration: none;
  /*width: 20%;*/
}
.social-link-text {
  padding-left: 8px;
  padding-right: 8px;
}

.carousel {
  align-items: center;
  display: flex;
  margin: 25px 64px;
}

.window {
  overflow: hidden;
  width: 813px;
  padding-left: 8px;
}
.intro {
  margin: 24px 196px 0; 
  font-family: 
  var(--secondary-font); 
  color: var(--blanco);
  
  }
.project-container {
  padding-top: 22px ;
  display: flex;
  left: 0;
  position: relative;
  width: 150px;
  height: 450px;
}
.project-container img{
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.project:focus-within{
 outline: 3px solid var(--verde);
}
.project {
  background: none;
  border: none;
  border-radius: 6px;
  border: 2px solid #000;
  height: 400px;
  margin: 0 8px;
  padding: 0;
  transition: all 0.2s ease-in-out;
  width: 250px;
}

.project:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.arrow {
  margin-inline: 10px;
  height: 75px;
  transition: all 0.2s ease-in-out;
  width: 75px;
  border: none;
  background:var(--verde);
  border-radius: 50%;
  padding: 0px;
}
.arrow img{
  height: 100%;
  width: 100%;
}
.arrow:hover {
  transform: scale(1.1);
}
#arrow-left {
  background-color: var(--verde);
  border-radius: 50%;
}
.arrow:focus{
  outline: 3px solid var(--verde);
}

#arrow-right {
  background-color: var(--verde);
  border-radius: 50%;
}

.contact-section {
  align-items: center;
  background-color: var(--gris-oscuro);
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-container {
  display: flex;
  flex-direction: column;
  width: 30%;
}
.form-label{
  color: var(--verde);
}


#message-input {
  height: 70px;
  margin-bottom: 16px;
}

input {
  width: 100%;
}
input:focus{
  outline:2px solid var(--verde);
}


.send-button {
  align-items: center;
  background-color: var(--verde);
  border-radius: 5px;
  color: white;
  font-family: var(--secondary-font);
  display: flex;
  height: 50px;
  justify-content: center;
  margin-bottom: 48px;
  width: 150px;
  margin-left: auto;
}
#name-error{
  color: white;
}
.notification {

  color: white;
  align-items: center;
  background-color: var(--verde);
  border-radius: 5px;
  box-shadow: 8px 16px 32px 0px var(--shadow);
  display: none;
  font-family: var(--secondary-font);
  height: 50px;
  justify-content: center;
  position: fixed;
  right: 24px;
  top: 24px;
  width: 300px;
}

.modal-container {
  align-items: center;
  background-color: rgba(000, 000, 000, 0.2);
  display: none;
  height: 100vh;
  justify-content: center;
  position: fixed;
  width: 100vw;
}

.modal {
  align-items: center;
  background-color: var(--gris-oscuro);
  border-radius: 5px;
  border: 2px solid #000;
  display: flex;
  flex-direction: column;
  height: 700px;
  justify-content: center;
  position: fixed;
  top: 15%;
  width: 700px;
}

.modal-project-image {
  background: center / cover no-repeat url(./images/project1.png);
  border-radius: 5px;
  border: 2px solid #000;
  height: 400px;
  margin: 16px;
  width: 550px;
}


.send-button,.modal-button {
align-items: center;
background-color: var(--verde); border-radius: 5px;
color: var(--gris-oscuro);
font-family: var(--secondary-font); display: flex;
height: 50px;
justify-content: center; margin-bottom: 48px; width: 150px;
margin-left: auto; font-size: 16px; cursor: pointer;
}

.send-button:focus,
.modal-button:focus {
  border: 5px solid var(--gris-oscuro);
  outline: 3px solid var(--verde)
}

#modal-header{
  outline: 3px solid var(--verde);
}

.modal {
align-items: center;
background-color: var(--gris-oscuro); border-radius: 5px;
border: 2px solid #000; display: flex;
flex-direction: column; height: 600px;
justify-content: center; position: fixed;
top: 5%;
width: 700px; 
padding:56px;
}